<form {{action "loginUser" on="submit"}} role="form">
  <div {{bindAttr class=":controls errors.name:error :form-group"}}>
    {{input type="text" value=email placeholder="Email Address" class="username form-control"}}
    <small class="below">{{errors.email}}</small>
  </div>

  <div {{bindAttr class=":controls errors.name:error :form-group"}}>
    {{input type="password" value=password placeholder="Password" class="password form-control"}}
    <small class="below">{{errors.password}}</small>
  </div>

  <div class="form-group">
    <button type="submit" class="login btn btn-primary">Sign In</button>
  </div>

  <div class="form-group">
    {{link-to 'Register' 'users.new' classNames="btn btn-default"}}
  </div>

  <div class="form-group">
    <center>
      {{link-to 'Forgot Password' 'users.forgot_password'}}
    </center>
  </div>
</form>
