<form {{action "createUser" on="submit"}} role="form">
  <div class="controls form-group">
    {{input type="email" value=email placeholder="Email Address" class="form-control"}}
    <small class="below">{{errors.email}}</small>
  </div>

  <div class="controls form-group">
    {{input type="password" value=password placeholder="Password" class="form-control"}}
    <small class="below">{{errors.password}}</small>
  </div>

  <div class="controls form-group">
    {{input type="password" value=passwordConfirmation placeholder="Confirm Password" class="form-control"}}
    <small class="below">{{errors.passwordConfirmation}}</small>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-default">Register</button>
  </div>

  <div class="form-group">
    <center>
      {{link-to 'Go Back' 'login' classNames='back-button'}}
    </center>
  </div>

</form>
