<form {{action "authenticate" on="submit"}} role="form">
  <div class="controls form-group">
    {{input type="text" value=identification placeholder="Email Address" class="form-control"}}
    <small class="below">{{loginErrorMessage}}</small>
  </div>

  <div class="controls form-group">
    {{input type="password" value=password placeholder="Password" class="form-control"}}
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary">Sign In</button>
  </div>

  <div class="form-group">
    {{link-to 'Register' 'users.new' classNames="btn btn-default"}}
  </div>

  <div class="form-group">
    <center>
      {{link-to 'Forgot Password' 'users.forgot-password'}}
    </center>
  </div>
</form>
